.work__filters {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}
.work__item {
  cursor: pointer;
  font-weight: var(--font-bold);

}

.work__item:hover {
  color: var(--first-color);
}
/*
.work__button{
  color: #fff;
  position: absolute;
  bottom: 1.5rem;
  font-size: var(--h3-font-size0);
  display: block;
  background-color: #ffd15c;
}*/